{% extends 'base.html.twig' %}
{% block body %}
<center>{% block title %}Mot de passe oublié{% endblock %}</center>

{% block section %}
<center>
<form class="mypage" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>

    {{ form(emailForm) }}
</center>
{% endblock %}
{% endblock %}
