
{% extends 'base.html.twig' %}
{% block section %}
<body>
<center>
    <section class="mypage"></section>
    <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe </h1>

    <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
    <form method="post">
        <label for="inputPassword">Mot de passe </label>
        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">
        <br>   <button type="submit" id="valider">
            Valider le mot de passe
        </button>
    </br>
    </form>
</center>
</body>
{% endblock %}