{% extends 'base.html.twig' %}

{% block title %}New Publication{% endblock %}
{% block section %}
<section class="mypage"></section>
<div class="stmeformlpub">
<a href="{{ path('publication_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>
    <h1>Creer une publication</h1>

    {{ include('publication/_form.html.twig') }}

    
    </div>
{% endblock %}
