{% extends 'base.html.twig' %}

{% block title %}Edit FormAide{% endblock %}

{% block section %}
<section class="mypage"></section>
  <div class="head-mybody">
   <a href="{{ path('form_aide_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>
    <h1>Changer </h1>

    {{ include('form_aide/_form.html.twig', {'button_label': 'Update'}) }}

   

    {# {{ include('form_aide/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
