{% extends 'base.html.twig' %}

{% block title %}New FormAide{% endblock %}

{% block section %}
<section class="mypage"></section>
  <div class="head-mybody">
  <a href="{{ path('form_aide_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>
    <h1>Ajouter nouveau produit</h1>

    {{ include('form_aide/_form.html.twig') }}

  </div>
{% endblock %}
