
{% block section %}

 <h1 align="center">Riservation</h1>
   
        {% for reservaide in reservaides %}
        {% if reservaide.idPatient == app.user.id %}
         <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdPatient</th>
                <th>IdAide</th>
            
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ reservaide.id }}</td>
                <td>{{ reservaide.idPatient }}</td>
                <td>{{ reservaide.idAide }}</td>
               <td>
<img src="{{ reservaide.img }}" alt="Image" />
             <td>
            </tr>
        </tbody>
    </table>

            {% endif %}
            
        {% endfor %}
        
 
 {% endblock %}
