
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
{% endblock %}
          {% block section %}   
 {% block body %}
 <div class="container" >
<h1> Nos statistiques </h1>
          {{ dump() }}
 </div> 
 {% endblock %}   


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <canvas id="categories" width="400" height="100"></canvas>   
    <script>

    let categories = document.querySelector("#categories")
    let categGraph = new Chart(categories, {
        type: "pie",
        data: {
            labels: {{ categNom|raw }},
            datasets: [{
                label: "Répartition des catégories",
                data: [2, 5, 1,3,5,8],
                
                backgroundColor: ["lightblue", "green", "blue", "yellow", "red", "pink"]
            }]
        }
    })
</script>



{% endblock %}

{% endblock %}