{% extends 'base.html.twig' %}

{% block title %}Edit Medicamnets{% endblock %}
{% block section %}
<section class="mypage">
<div class="stmeformlpub">
    <h1>Modifier médicament</h1>

    {{ include('medicaments/_form.html.twig', {'button_label': 'Update'}) }}

   

    {{ include('medicaments/_delete_form.html.twig') }}
    <a href="{{ path('medicaments_index') }}">Retour a la liste des médicaments</a>
    </section>
     </div>
{% endblock %}
