{% extends 'base.html.twig' %}

{% block title %}ReservationMed index{% endblock %}

{% block section %}

<section class="mypage"></section>
    <div class="head-mybody"> 
	<center><h1 style="color:#74BEF0">Votre Réservation a été bien enregistrer</h1><center>
    </div>
      <div class="col-sm-12 col-md-6 text-right">
                    
			 <a href="{{path ('medicaments_index')}}" class="btn btn-primary">Retour a la liste des médicaments</a>
			 </div>
{% endblock %}
